$main-color: #fcfcfc;
$sub-color: #D6DEE5;
$accent-color: #1C2C38;

$header-color: #ffffff;
$footer-color: #ffffff;

$font-color: #1C2C38;

$btn-color: #2F79B2;
$btn-font-color: #fcfcfc;

$underline-color: #2F79B2;

$required-color: #E54343;

$box-shadow: 0px 3px 6px rgba(0,0,0,.16);
$box-shadow-hover: 0px 3px 10px rgba(0,0,0,.3);
$box-shadow-focus: 3px 3px 12px rgba(47,121,178,.5);

$text-shadow: 2px 1px 0px #728795;