@import '../mixin/mediaquery';
@import '../setting/color';
@import '../setting/font';
@import '../setting/size';

body {
    min-width: 375px;
    height: 100%;
    font-size: 16px;
    font-family:  $font-family;
    color: $font-color;
    background-color: $main-color;
}

@supports (-webkit-touch-callout: none) {
    body {
        height: -webkit-fill-available;
    }
}

img {
    width: 100%;
}

a {
    display: block;
}

.inner {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 40px;

    @include mq('tab') {
        width: 980px;
    }

    @include mq('sp') {
        width: 860px;
        padding: 0 20px;
    }
}